.container {
    margin: auto;
    width: 75%;
}

img{
    border: 3px solid green;
}


h21{
    margin: auto;
    width: 50%;
}


h2 {
    margin: auto;
    width: 50%;
}

h3 {
    margin: auto;
    width: 50%;
}

